@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color:#047aed;
    --secondary-color:#1c3fa8;
    --dark-color:#002240;
    --light-color:#f4f4f4;

}
body{
    font-family:'Lato',sans-serif;
    color:#333;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}
a{
    
    text-decoration: none;
    color:#333;
}

h1,h2{
    font-weight: 300;
    line-height:1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

/* BAckgrouns and colored */
.bg-primary,
.btn-primary
{background-color:var(--primary-color);
    color:#fff;
}

/* text sizes*/
.lead{
    font-size:20px;
}

.sm{
    font-size:1rem;
}
.md{
    font-size:2rem;
}
.lg{
    font-size:3rem;
}
.xl{
    font-size:4rem;
}
/* utility classes*/
.container{
    max-width:1100px;
    margin:0 auto;
    overflow:auto;
    padding:0 40px;

}


.flex{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
/* navbar*/
.navbar{
    background-color:var(--primary-color);
    color:#fff;
    height: 70px;
    
}
.navbar ul{
    display: flex;
   
    
}
.navbar .flex{
    justify-content: space-between;
}
.navbar a {
    color:#fff;
    padding: 10px;
    margin: 0 5px;
}
.navbar a:hover{
    border-bottom: 2px #fff solid;
}

/* Showcase*/
.showcase{
    height:400px;
    background-color:var(--primary-color);
    color:#fff;
    position:relative;
}
.showcase::before,
.showcase::after{
    
    
    position:absolute;
    content:'';
    height:100px;
    background: white;
    bottom:-70px;
    left:0;
    right:0;
    transform:skewY(-3deg);
    -webkit-transform:skewY(-3deg);
    -moz-transform:skewY(-3deg);
    -ms-transform:skewY(-3deg);

}

.showcase h1{
 font-size:40px ;

}
.showcase p{
margin: 20px 0;
}
.showcase .grid{
    grid-template-columns:55% 45%;
    gap:30px;
    overflow:visible;
}
.grid{
    display:grid;
    grid-template-columns:repeat(2 ,1fr);
    gap:20px;

    align-items:center;
    justify-content:center;
    height:100%;
  
}
.card{
    
    border:10px;
    background-color: #fff;
    color:#333;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius:10px;
    padding:20px;
    margin:10px;
    

}
.btn{
    color:#fff;
    font-size:16px;
    font-weight: 800;
}
.btn-outline{
    background-color:transparent;
    border:1px #fff solid;
}
.btn:hover{
    transform:scale(.98);
}

.showcase-form{
    position: relative;
    top:60px;
    height:350px;
    width:400px;
    padding:40px;
    z-index:100;
    justify-self: flex-end;
    
}

.showcase-form .form-control{
    margin: 30px 0;
}
.showcase-form input[type='text'],
.showcase-form input[type='email']
{
 border:0;
 border-bottom: 1px solid;
 width:100%;
 padding:3px;
 font-size:16px;
}

.showcase-form input[type='submit']{
    width:80px;
    font-size:16px;
    background-color:var(--primary-color);
    cursor:pointer;
    color:#fff;
    border-radius:5px;
    
}
.showcase-form input:focus{
    outline:none;
    
}
/*-----status------*/
.stats{
padding-top:100px;
}
.grid-3{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
    justify-content:center;
    align-items:center;
}
.stats-heading{
    max-width: 500px;
    margin: auto;

    
}
.stats .grid h3{
    font-size:35px;

}
.stats .grid p{
    font-size:20px;
    font-weight:bold;

}
.text-center{
    text-align:center;
}

/* Cli  */
.cli .grid{
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.cli .grid > *:first-child{
    grid-column: 1/span 2;
    grid-row:1 /span 2;
}

/* Cloud*/
.cloud .grid{
    display:grid;
    grid-template-columns:1fr 1fr;

}
/* Languages*/
.languages .flex{
    flex-wrap:wrap ;
}
.languages .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition:transform 0.2s ease-out;
}
.languages .card h4{
    font-size:20px;
    margin-bottom:10px;
}
.languages .card:hover{
    transform: translateY(-15px);
}
.btn-dark
{
    background-color:black;
}
/*Margin */
.my-1{
    
    margin:1rem 0;
}
.my-2{
    
    margin:1.5rem  0;
}
.my-3{
    
    margin:2rem 0 ;
}
.my-4{
    
    margin:3rem 0 ;
}

.m-1{
    
    margin:1rem ;
}
.m-2{
    
    margin:1.5rem ;
}
.m-3{
    
    margin:2rem ;
}
.m-4{
    
    margin:3rem  ;
}
/* padding */
.py-1{
    
    padding:1rem 0;
}
.py-2{
    
    padding:1.5rem  0;
}
.py-3{
    
    padding:2rem 0 ;
}
.py-4{
    
    padding:3rem 0 ;
}

.p-1{
    
    padding:1rem ;
}
.p-2{
    
   padding:1.5rem ;
}
.p-3{
    
    padding:2rem ;
}
.p-4{
    
    padding:3rem  ;
}
/* footer*/

.footer .social a{
    color:#fff;
}

.bg-dark{
    background-color:black;
    color:#fff;
}

.footer .container nav ul li a {
    color:#fff;
}
